body {
				background-color: blanchedalmond;
}
.body {
				padding: 0.5rem;
				position: relative;
}
.main {
			 text-align: center;
			 background-color: #FBF7D5;
			 border-radius: 20px;
			 min-height: 100vh;
			 padding: 1rem;
}
.ye {
				text-align: center;
				background-color: #F3D8D1;
				border-radius: 20px;
				padding: 2rem;
}
.head {
				font-family: SecondFont;
}
h {
				font-family: SecondFont;
}
